* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    bottom: 0;
    font-family: 'Raleway', sans-serif;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(4, 4, 4);
}

ul,
li {
    list-style: none;
    text-decoration: none;
}

.container {
    max-width: 1400px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

}

.todoList {
    margin-top: 48px;
}

.todoList h1 {
    font-size: 48px;
    font-weight: 700;
    color: white;
}

.todoList form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12px;
}


.todoList form input {
    width: 600px;
    padding: 10px 0 10px 6px;
    outline: none;
    border: 2px solid transparent;
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease-in-out;
}

.todoList form input:hover {
    border: 2px solid rgb(0, 89, 255);
}

.todoList form button {
    width: 600px;
    padding: 10px 0 10px 6px;
    outline: none;
    border: 2px solid rgba(179, 206, 245, 0.655);
    border-radius: 8px;
    background-color: white;
    font-size: 16px;
    font-weight: 500;
    color: rgb(0, 124, 124);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.todoList form button:hover {
    background-color: white;
    color: aqua;
    border: 2px solid transparent;
}


.todoList .lists {
    margin-top: 24px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;

}

.todoList .list {
    width: 600px;
    padding: 10px 0 14px 8px;
    background-color: white;
    border-radius: 8px;
    border: 2px solid transparent;
}

.todoList .list .actions {
    margin-top: 8px;
}

.todoList .list p {
    font-size: 16px;
    font-weight: 600;
    color: rgb(44, 44, 44);
}

.todoList .list .actions .done:hover {
    background-color: rgba(0, 255, 89, 0.562)
}

.todoList .list .actions .done {
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    background-color: rgba(0, 255, 68, 0.888);
    cursor: pointer;
}

.todoList .list .actions .remove {
    border: none;
    outline: none;
    border-radius: 4px;
    transition: all 0.3s ease-in-out;
    padding: 8px;
    background-color: rgba(255, 0, 0, 0.864);
    cursor: pointer;
}



.todoLista .list .actions .remove:hover {
    background-color: rgba(255, 0, 0, 0.43)
}

.active {
    border: 2px solid #00ff00;
}

.doneActive {
    display: none;
}

.option {
    color: white;
    font-weight: 600;
}